<html>
	<head>
	 	<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>

		
	<div class="container">
		
		</br>
		  <nav class="navbar navbar-default">
			  <div class="container-fluid">
				    <div class="navbar-header">
				      <a class="navbar-brand" href="#">RestauranTrac</a>
				    </div>
				    
					    <div>
					      <ul class="nav navbar-nav">
					        <li><a href="{% url 'home' %}">Home</a></li>
					        <li class="active"><a href="{% url 'restorani' %}">Restaurants</a></li>
					        
					        {% if user.user.is_stuff %}
					        	<li><a href="{% url 'prijatelji' %}">Friends</a></li>
					        {% endif %}
					          		        
					        <li><a href="{% url 'profil' %}">My account <span class="glyphicon glyphicon-user"></span></a></li>
					        <li><a href="{% url 'logout' %}">Logout</a></li>
					      </ul>
					    </div>
		 	 </div>
		</nav>

		<h1> Dishes </h1>
					
			<table class="table table-hover"> 
			 <thead>
			      <tr>
			        <th>Name</th>
			 	   <th>Price</th>
			    	<th>Description</th>
			      </tr>
			    </thead>
			    <tbody>
					<tr>
						<td>{{jlvk.naziv}}</td>
						<td>{{jlvk.cena}}</td>
						<td>{{jlvk.opis}}</td>
					</tr>
				</tbody>
			 </table>
	</div>	
		
	</body>
</html>